.contact-submit{
    text-decoration: none;
    color:white;
    padding:0.5rem 2.5rem;
    background-color:rgba(0, 0, 0, 0.712);
    border:1px solid rgba(0, 0, 0, 0.712);
    transition:all .8s ease;
    font-size:0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    &:hover{
     background-color:rgba(0, 0, 0, 0.877);
     border:1px solid transparent;
    }
}
.contact-info{
    font-family: 'Roboto', sans-serif;
    padding-top:4rem;
}