
.featured-collections-container{
    position:relative;
    // background-color:rgb(222,184,135);
    background-color:	rgb(210,180,140);
    height:50rem;
    
}
.featured-text{
    h1{
        color:rgba(255, 255, 255, 0.123);
        font-size:10rem;
        letter-spacing: 5px;
        font-weight:500;
        text-transform: uppercase;
        font-family: 'Merriweather', serif;
        text-align: center;
    }
}

.featured-collections-grid{
    display:grid;
    grid-row-gap:3rem;
    grid-column-gap:0.7rem;
    grid-template-columns:repeat(auto-fill, minmax(310px,1fr));
    margin:2rem 8rem;
    padding:3rem 0rem;
    justify-items: center;
}
.featured-collections-image-container{
    height:22rem;
    width:25rem;
    background-color: black;
  
}
.featured-content{
    position:relative;
    height:22rem;
    &:hover{
        .featured-collections-image{
            opacity:0.3;
        }
        .featured-collections-text{
            opacity:1;
        }
    }
}
.featured-collections-text{
    position:absolute;
    top:50%;
    left:38%;
    opacity:0;
    transition: all 1s ease;
    a{
        color:white;
        font-size:1rem;
        text-align:center;
        text-decoration: none;
    }
}
.featured-collections-image{
    object-fit:cover;
    width:100%;
    height:100%;
    transition: all 1s ease;
}
.index-featured-container{
    opacity:0;
}
@media (max-width:599px){
    .featured-text{
        h1{
            font-size:2.5rem;
        }
    }
    .featured-collections-grid{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        margin:2rem 1rem;
    }
    .featured-collections-container{
        height:80rem;
    }
    .featured-collections-image-container{
        height:18rem;
        width:15rem;
    } 
    .index-featured-container{
        opacity:1;
    }
}
@media (min-width:600px){
    .featured-text{
        h1{
            font-size:3rem;
        }
    }
    .featured-collections-grid{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
    }
    .featured-collections-container{
        height:80rem;
    }
    .featured-collections-image-container{
        height:20rem;
        width:22rem;
    } 
    .index-featured-container{
        opacity:1;
    }
}
@media (min-width:900px){
    .featured-text{
        h1{
            font-size:5rem;
        }
    }
    .featured-collections-grid{
        // display:flex;
        // align-items:center;
        // justify-content: center;
        // flex-direction: column;
        display:grid;
        // grid-gap:0.6rem;
        grid-row-gap:0.6rem;
        grid-column-gap:0.1rem;
        grid-template-columns:repeat(auto-fit, minmax(280px,1fr));
        margin-left:1rem;
        margin-right:1rem;
    }
    .featured-collections-container{
        height:40rem;
    }
    .featured-collections-image-container{
        height:18rem;
        width:16rem;
    } 
    .index-featured-container{
        opacity:1;
    }
}
@media (min-width:1200px){
    .featured-text{
        h1{
            font-size:8rem;
        }
    }
    .featured-collections-grid{
        display:grid;
        grid-row-gap:3rem;
        grid-column-gap:0.7rem;
        grid-template-columns:repeat(auto-fill, minmax(350px,1fr));
        margin:2rem 1rem;
        padding:0rem 0rem;
    }
    .featured-collections-container{
        height:50rem;
    }
    .featured-collections-image-container{
        height:20rem;
        width:22rem;
    } 
   
}
@media (min-width:1500px){
    .featured-text{
        h1{
            font-size:10rem;
        }
    }
    .featured-collections-grid{
        display:grid;
        grid-row-gap:5rem;
        grid-column-gap:0.7rem;
        // grid-template-columns:repeat(auto-fill, minmax(310px,1fr));
        grid-template-columns: repeat( 3, 400px);
        justify-content: center;
        margin:2rem 0rem;
        padding:3rem 0rem;
    }
    .featured-collections-container{
        height:50rem;
    }
    .featured-collections-image-container{
        height:22rem;
        width:25rem;
    } 
}


