footer{
    margin-top:10rem;
    margin-bottom:0rem;
    height:3vh;
    border-top:1px solid rgba(0, 0, 0, 0.219);
   
    p{
        font-size:0.8rem;
        cursor:pointer;
    }
}
.footer{
   
    // background-color:rgba(211, 211, 211, 0.219);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:2rem;
    padding-bottom:1rem;
}
.first-footer{
    p{
        font-size:1rem;
    }
    
}
.footer-heading{
    font-weight:bold;
}
.second-footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.social-icon-footer{
    font-size:15px;
    padding-left:0.5rem;
    color:black;
}
@media (max-width:599px){
    footer{
        margin-top:8rem;
    }
    .footer{
        padding-top:1rem;
        padding-bottom:1.5rem;
    }
    .first-footer{
        p{
            font-size:0.8rem;
        }
        
    }
    .social-icon-footer{
        font-size:10px;
       
    }
}
@media (min-width:600px){
    .faq-title{
        font-size:1rem;
    }
    .first-footer{
        p{
            font-size:0.8rem;
        }
        
    }
    .faq-body{
        h4{
            font-size:1rem;
            font-weight:700;
        }
        p{
            font-size:0.8rem;
        }
    }
}
@media (min-width:900px){
    .faq-title{
        font-size:1rem;
    }
    .faq-body{
        h4{
            font-size:1rem;
            font-weight:700;
        }
        p{
            font-size:0.8rem;
        }
    }
}
@media (min-width:1200px){
    .faq-title{
        font-size:1rem;
    }
    .first-footer{
        p{
            font-size:1rem;
        }
        
    }
    .faq-body{
        h4{
            font-size:1rem;
            font-weight:700;
        }
        p{
            font-size:0.8rem;
        }
    }
}
@media (min-width:1500px){
  
}

