*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    overflow-x:hidden;
    font-family: 'Merriweather', serif;
}


.btn{
    padding:0.7rem 1.25rem;
    margin-top:.8rem;
    font-size:1.1rem;
    font-weight: 400;
}
.loading-bg{
    // background-color:rgb(210,180,140);
    background-color:white;
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:100vw;
    z-index:100;
    transform:translate(0, 100%);
}
.product-section-title{
    font-size:2.3rem;
    padding-left:4rem;
    padding-top:4rem;
}
.card-header{
    background-color:rgba(0, 0, 0, 0.781);
    color:white;
    font-size:1rem;
}
.form-control:focus{border-color: rgba(0, 0, 0, 0.836);  box-shadow: none; -webkit-box-shadow: none;} 

.form-group{
    input, textarea{
        font-family: 'Roboto', sans-serif;
        font-size:0.9rem;
       
    }
    label{
        font-size:0.9rem;
    }
}

.pre-load-wrapper{
    position:fixed;
    top:0;
    background-color:black;
    z-index:1000;
    height:100vh;
    width:100vw;
    transition:opacity 0.5s ease;
    display:flex;
    justify-content: center;
    align-items:center;
    .pre-load-content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        border:2px solid white;
        padding:2rem 2rem;
        margin-right:2rem;
        width:50%;
        height:50%;
    }
    .pre-load-logo-container{
        width:48%;
        height:2rem;
        margin:1rem;
        
    }
    .pre-load-logo{
        width:100%;
        height:100%;
        object-fit:cover;
    
    }
    .pre-loading-spinner{
        border:2px solid grey;
        border-top:3px solid orangered;
        border-radius:100%;
        height:80px;
        width:80px;
        animation: spin 1s infinite linear;
       
    }
}
.pre-load-finish{
    opacity:0;
    pointer-events: none;
}
@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@media (min-width:0px) and (max-width:370px){
   .card-header{
       font-size:0.9rem;
   }
   .form-group{
    label{
        font-size:0.8rem;
    }
    input, textarea{
       font-size:0.8rem;
       
    }
  }
  .loading-bg{
   display: none;
  }
  .pre-load-wrapper{
    .pre-load-content{
       width:90%;
       margin-right:0rem;
    }
    .pre-load-logo-container{
          width:94%;
    }
   
}
}
@media (min-width: 371px) and (max-width: 500px) {
  .pre-load-wrapper{
      .pre-load-content{
         width:75%;
         margin-right:0rem;
      }
      .pre-load-logo-container{
            width:80%;
      }
     
  }
 
}
@media (min-width: 501px) and (max-width: 540px) {
   
    .pre-load-wrapper{
        .pre-load-content{
           width:75%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:80%;
        }
       
    }
}
@media (min-width: 541px) and (max-width: 767px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:75%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:70%;
        }
       
    }
 
}
 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 900px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:75%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:60%;
        }
       
    }
}
@media (min-width: 901px) and (max-width: 991px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:65%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:58%;
              
        }
       
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1099px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:65%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:58%;
              
        }
       
    }
}
@media (min-width: 1100px) and (max-width: 1119px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:60%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:58%;
              
        }
       
    }
}
@media (min-width: 1120px) and (max-width: 1199px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:60%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:58%;
              
        }
       
    }
}
 
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:50%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:58%;
              
              
        }
       
    }
}
@media (min-width: 1400px) and (max-width: 1500px) {
    .pre-load-wrapper{
        .pre-load-content{
           width:45%;
           margin-right:0rem;
        }
        .pre-load-logo-container{
              width:58%;
              
        }
       
    }
}

  

