.mail-confirmation-heading{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top:4rem;
    padding-bottom:3rem;
}
@media (max-width:599px){
    .mail-confirmation-heading{
        padding-right:1rem;
        padding-left:1rem;
        h4{
            font-size:1rem;
        }
    }
}
@media (min-width:600px){
    .mail-confirmation-heading{
        padding-right:2rem;
        padding-left:2rem;
        // margin-left:2rem;
        h4{
            font-size:1.1rem;
        }
    }
}
@media (min-width:900px){
    .mail-confirmation-heading{
        margin-left:2rem;
        h4{
            font-size:1.2rem;
        }
    }
}
@media (min-width:1200px){
    .mail-confirmation-heading{
        margin-left:2rem;
        h4{
            font-size:1.4rem;
        }
    }
}
@media (min-width:1500px){
  
}




