.navBar{
    position:absolute;
    top:0;
    left:0;
    height:7vh;
    z-index:80;
    width:100%;
    padding:0 30px;
    // font-size:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    // font-family: 'Playfair Display', serif;
    font-family: 'Merriweather', serif;
    background-color:rgba(0, 0, 0, 0.842);
    .hamburger{
        cursor: pointer;
        .line{
            height:1.5px;
            width:30px;
            background:white;
            margin:5px
            
        }
    }

   
    .navLogo{
        width:15%;
        height:1.1rem;
        padding-left:1rem;
        
    }
    .linkLogo{
        text-decoration:none;
        height:1rem;
    }
    .logo{
        width:100%;
        height:100%;
        object-fit:cover;
    
    }

    .navContactLink{
        text-decoration: none;
        letter-spacing: 1px;
        color:white;
        cursor: pointer;
        font-size:0.9rem;
    }

}
.navBar > div{
    padding:0 20px;
}
.otherPagesNav{
    height:7vh;
    width:100%; 
    background-color:rgba(0, 0, 0, 0.315);
}

.navigation-menu-wrapper{
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width:100%;
    background:rgba(0, 0, 0, 0.863);
    z-index:10;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    opacity:0;
    visibility: hidden;
}
.navigation-menu{
    // position:fixed;
    top:0;
    right:0;
    z-index:10;
    height:100vh;
    width:30%;
    // background-color:rgba(0, 0, 0, 0.712);
    background-color:rgb(0,0,0);
    transform:translate(100%, 0);

    .navigation-close{
        float:right;
        cursor: pointer;
        text-transform: uppercase;
        color:white;
        padding-top:1rem;
        padding-right:0.8rem;
        &:hover{
            color:orangered;
        }
    }
    

    .navigation-bg{
        position: absolute;
        top:0;
        right:0;
        height:100%;
    }

    ul{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction:column;
        padding:10rem 0;
        li{
            list-style:none;
            text-align: center;
            a{
                text-decoration:none;
                // color:rgba(0, 0, 0, 0.884);
                color:white;
                font-size:1.5rem;
                font-weight:700;
                letter-spacing: 1px;
                line-height:2;
                &:hover{
                    color:orangered;
                }
            }
        }
    }
}
@media (min-width:0px) and (max-width:370px){
    .navBar{
        padding:0 10px;
        .navLogo{
           width:49%;
           height:1.1rem;
        //    padding-left:1rem;
        }
        .hamburger{
            .line{
                height:0.8px;
                width:25px;
            }
        }
        .navContactLink{
            font-size:0.7rem;
        }
        
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:60%;
       
        ul{
            padding:10rem 2rem;
            li{
                a{
                    font-size:1.2rem;
                    
                }
            }
        }
        .navigation-close{
            font-size:0.8rem;
        }
    }
   
}
@media (min-width: 371px) and (max-width: 500px) {
     
  .navBar{
      .navLogo{
         width:40%;
         height:1.1rem;
         padding-left:1rem;
      }
      .hamburger{
          .line{
              height:1px;
          }
      }
      .navContactLink{
          font-size:0.8rem;
      }
   
  }
   .navBar > div{
    padding:0 0px;
  }
  .navigation-menu{
      width:70%;
  }
}
@media (min-width: 501px) and (max-width: 540px) {
    .navBar{
        .navLogo{
           width:40%;
           height:1.2rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:70%;
    }
  
}
@media (min-width: 541px) and (max-width: 767px) {
    .navBar{
        .navLogo{
           width:34%;
           height:1.2rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:70%;
    }
  
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 900px) {
    .navBar{
        .navLogo{
           width:25%;
           height:1.1rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:70%;
    }
}
@media (min-width: 901px) and (max-width: 991px) {
    .navBar{
        .navLogo{
           width:23%;
           height:1.1rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:70%;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1099px) {
    .navBar{
        .navLogo{
           width:20%;
           height:1.1rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:50%;
    }
}
@media (min-width: 1100px) and (max-width: 1119px) {
    .navBar{
        .navLogo{
           width:19%;
           height:1.3rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:50%;
    }
}
@media (min-width: 1120px) and (max-width: 1199px) {
    .navBar{
        .navLogo{
           width:17%;
           height:1.3rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:50%;
    }
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
    .navBar{
        .navLogo{
           width:15%;
           height:1.3rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:40%;
    }
 }
@media (min-width: 1400px) and (max-width: 1500px) {
    .navBar{
        .navLogo{
           width:15%;
           height:1.5rem;
        }
        .hamburger{
            .line{
                height:1px;
            }
        }
        .navContactLink{
            font-size:0.8rem;
        }
     
    }
     .navBar > div{
      padding:0 0px;
    }
    .navigation-menu{
        width:40%;
    }
}
