.single-product-grid{
    display:flex;
    width:100%;
    margin:0 1rem;
}

.single-product-image-container{
    height:64vh;
    width:60%;

    .single-product-image{
        object-fit:contain;
        height:100%;
        width:100%;
    }
}
.single-product-text{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color:rgb(238, 238, 238);
    width:40%;
    padding:2rem;

    p{
        line-height: 1.5rem;
        align-items: center;
    }

    .single-product-contact{
       text-decoration: none;
       color:white;
       padding:0.5rem 4rem;
       background-color:rgba(0, 0, 0, 0.712);
       border:1px solid transparent;
       transition:all .8s ease;
       &:hover{
        background-color:rgba(0, 0, 0, 0.774);
        border:2px solid transparent;
       }

      
    }
}
.similar-product-grid{
    display:grid;
    grid-row-gap:3rem;
    grid-column-gap:0.7rem;
    grid-template-columns:repeat(auto-fill, minmax(310px,1fr));
    margin-top:1rem;
    margin-bottom:4rem;
    margin-left:8rem;
    margin-right:8rem;

    .similar-product-image{
        object-fit:contain;
        width:100%;
        height:20rem;
    }
    .similar-product-button{
        border:1px solid rgb(238, 238, 238);
        text-align:center;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        background-color:rgb(238, 238, 238);
        transition:all .8s ease;
        &:hover{
            background-color:rgba(0, 0, 0, 0.712);
            border:2px solid transparent;
            .similar-product-link{
                color:white;
            }
        }
    }
    .similar-product-link{
        color:black;
        text-decoration:none;

    }
}
.similar-products-section-title{
    text-align:center;
    padding-top:4rem;
}

@media (min-width:0px) and (max-width:370px){
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:0rem;
        margin-right:0rem;
    }
    .single-product-image-container{
        width:100%;
     
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.1rem;
        }
         p{
             font-size:0.8rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
    .similar-product-grid{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        margin:2rem 1rem;

        .similar-product-button{
            padding:0.5rem 2rem;

            .similar-product-link{
                font-size:0.8rem;
            }
        }
    }
}
@media (min-width: 371px) and (max-width: 500px) {
     .single-product-grid{
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .single-product-image-container{
         width:90%;
        
     }
     .single-product-text{
         width:85%;
         h4{
             font-size:1.1rem;
         }
          p{
              font-size:0.8rem;
          }
          .single-product-contact{
            font-size:0.8rem;
            padding:0.8rem 2rem;
        }
     }
     .similar-product-grid{
         .similar-product-button{
            padding:0.5rem 2rem;
         }
         .similar-product-link{
             font-size:0.8rem;
         }
     }
     

  
}
@media (min-width: 501px) and (max-width: 540px) {
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .single-product-image-container{
        width:100%;
     
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.1rem;
        }
         p{
             font-size:0.8rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
    .similar-product-grid{
        .similar-product-button{
           padding:0.5rem 2rem;
        }
        .similar-product-link{
            font-size:0.8rem;
        }
    }
  
}
@media (min-width: 541px) and (max-width: 767px) {
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .single-product-image-container{
        width:100%;
      
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.1rem;
        }
         p{
             font-size:0.8rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
    .similar-product-grid{
        .similar-product-button{
           padding:0.5rem 2rem;
        }
        .similar-product-link{
            font-size:0.8rem;
        }
    }
  
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 900px) {
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .single-product-image-container{
        width:100%;
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
}
@media (min-width: 901px) and (max-width: 991px) {
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .single-product-image-container{
        width:100%;
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1099px) {
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .single-product-image-container{
        width:100%;
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
}
@media (min-width: 1100px) and (max-width: 1119px) {
    .single-product-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .single-product-image-container{
        width:100%;
    }
    .single-product-text{
        width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
}
@media (min-width: 1120px) and (max-width: 1199px) {
 
    .single-product-text{
        // width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
   
    .single-product-text{
        // width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
 }
@media (min-width: 1400px) and (max-width: 1500px) {
   
    .single-product-text{
        // width:85%;
        h4{
            font-size:1.2rem;
        }
         p{
             font-size:0.9rem;
         }
         .single-product-contact{
           font-size:0.8rem;
           padding:0.8rem 2rem;
       }
    }
}